<div>
  <table class="navigation_bar">
    <tr>
      <td>
        <div align="center"><%= image_tag("/assets/home.png")%></div>
      </td>
      <td>
        <span>  项目管理 >  创建新项目</span>
      </td>
    </tr>
  </table>
</div>
<br/>

<%= render 'form' %>
